.home {
    background: #8EE3FA;
    background: linear-gradient(#9CECFB,#65C7F7,#0052D4);
    min-height: 100vh;
    /* justify-content:center;   */
    align-items:center;
    text-align: center;
    /* position:; */
    /* margin-top:10px; */
    width:100% !important;
} 

.heroImage{
    width:60%
}


@media screen 
  and (min-device-width: 1100px) 
  /* and (max-device-width: 1600px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 


    .home{
        display:flex;
      
        align-items:center;
 text-align: center;
 padding-right:80px;
 width:100%;
 position :relative;
     };
}


/* screen below laptop normal size */
@media only screen 
  
  and (max-device-width: 1099px){
      .chatColumn{
          position: fixed;
          bottom: 0;
          width:100% !important;
          
      }

      .imgColumn{
        position: fixed;

      }
    }

/* ipad pro size */
      @media only screen   
  and (min-device-width: 1000px)
  and (max-device-width: 1090px){
    .home{
        padding-top:160px;

    }    
   
  }

  @media only screen   
  and (min-device-width: 600px)
  and (max-device-width: 770px){
    .home{
        padding-top:90px;
    }    
    .imgColumn{
        padding-top:50px;

    }   
  }

/* pixel 2 - 411 */
  @media only screen   
  and (min-device-width: 400px)
  and (max-device-width: 420px){
      
    .imgColumn{
        padding-top:50px;
    } 
  }

/*Surface Duo- 540 width*/
  @media only screen   
  and (min-device-width: 421px)
  and (max-device-width:550px){
      .home{
          padding-top:10px
      }
      .heroImage{
          width:50%
      }

  }

/* Moto G4 360 & Galaxy S5 360*/
  @media only screen   
  and (min-device-width: 300px)
  and (max-device-width: 399px){
    /* .home{
        margin-top:5px;
       }       */
       .imgColumn{
           /* z-index: 1;
           position:fixed;
           padding-left:120px */
           padding-top:35px 
     }

     .heroImage{
         width:35%;         
     }

  }

  /* Iphone X */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .home{
        padding-top:60px;
    }

    .heroImage{
        width:80%;         
    }
}

/* Iphone 6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .imgColumn{
        z-index: 1;
        position:fixed;
        padding-top:50px
        
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .imgColumn{
        margin-top:-70px;
       }


}

/* iphone5/SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
.imgColumn{
    display: none;
}

}
  
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 299px){
      .imgColumn{
          padding-top: 50px;
          position:fixed;
          z-index: 1;
      }
  }
















/* Working css */

     /* big screen */
     /* @media screen and (min-width: 1100px) {
        .home{
           display:flex;
         
           align-items:center;
    text-align: center;
        };
       } */


       /* Mobile screen and tab*/
       /* @media screen and (min-width: 300px)  { */
       /* @media screen and (max-width: 1099px)  {


   .home{
    padding-top:15%;

   }
 
        .chatColumn{
          width:100% !important;           
            position:fixed;
            bottom:0; 
                   
         }

       

         .imgColumn{
            position:fixed;
        }
       }

    

       @media(max-width: 320px){
           .chatColum{
height:100vh
           }
           .imgColumn{
            position:fixed;
            z-index: 1;
        }
       }

   */
