.home {
    /* background: #8EE3FA; */
    /* background: linear-gradient(#9CECFB,#65C7F7,#0052D4); */
    /* min-height: 100vh; */
    /* display:flex; */
    /* justify-content: space-around; */
    /* padding: 0 12px; */
    /* justify-content: center; */
    align-items:center;
    text-align: center;
    /* width:100%; */
    margin-top:50px;
    /* margin-top:-20px; */
    /* margin-top:-10px; */
    /* margin-top:50px; */
    /* position:fixed; */
    /* padding-left:10%; */
    /* padding-right:10%; */
    /* bottom:0; */
   
 


/* padding-bottom:10px; */
}

     .column {
         display:flex;
         justify-content:center;
         flex-direction:column;
         align-items:center;
}
    .home .column{
        align-items:center;
    }

     
/* big screen */
     @media screen and (min-width: 600px) {
         .home{
            display:flex;
            justify-content: space-around;
            justify-content: center;
         }
        }

        /* small screen */
        @media screen and (max-width: 600px) {
            .chatColumn{
        
                bottom:0;
                position:fixed;
             }
           }
















/* @media screen and (min-width: 600px) {
    .home {
        display:flex;
        justify-content: center;
        justify-content: space-around;
    }
    } */
  
    /* color: #fff;
    
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-align-items: space-around;
    padding: 0 12px;
} */

/* 
.home .column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.home, .home .column {
    -ms-flex-align: center;
    align-items: center;
} */